## Overview

![pandas](http://pandas.pydata.org/_static/pandas_logo.png)
**Pandas** is an open source Python library for complex, tabular datasets data analysis.

**Features**
- Defines **tabular data types**: database-like tables, with labelled rows and columns
- **Data consolidation and data integration**: remove duplicates, clean data, manage missing values: automatically align tables by index
- **Summarization**: create "pivot" tables
- **In-memory, SQL-like operations**: join, aggregate (group by)
- Very flexible **import/export** data
- **Date and time** handling built-in including timezones
- **Easy visualization** based on Matplotlib

In Pandas, it introduces two new data structures to Python - `Series` and `DataFrame`, both of which are built on top of `NumPy` (this means it's fast).

**Online resources**

The Pandas development community maintains an extensive online documentation system, including user guides and tutorials, at:
http://pandas.pydata.org/

**Importing the Pandas module**

There are several ways to import Pandas. The standard approach is to use a simple import statement:

In [ ]:
import pandas

However, for large amounts of calls to Pandas functions, it can become tedious to write `pandas.X` over and over again. Instead, it is common to import under the briefer name `pd`:

In [ ]:
import pandas as pd

This statement will allow us to access Pandas objects using `pd.X` instead of `pandas.X`

In [ ]:
#to limit the display of rows of datasets
from pandas import set_option
set_option("display.max.rows",16)

#import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

#import numpy
import numpy as np

## Series

A Series is a one-dimensional object similar to an array, list, or column in a table. It will assign a labeled index to each item in the Series. By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [ ]:
# create a Series with an arbitrary list
s = pd.Series([10, 'Durian', 10.18, -2025678982, 'Selamat Hari Raya!'])
s

Alternatively, you can specify an index to use when creating the Series.

In [ ]:
s = pd.Series([10, 'Durian', 10.18, -2025678982, 'Selamat Hari Raya!'], index=[15,20,25,30,35])
s

You can use the index to select specific items from the Series

In [ ]:
s[20]

The Series constructor can convert a dictonary as well, using the keys of the dictionary as its index.

In [ ]:
e = {'Kuala Lumpur': 4321, 'Banting': 278, 'Klang': 64, 'Cyberjaya': 33,
     'Kajang': 86}
dengue=pd.Series(e)
dengue

Display cities with dengue cases more than 50

In [ ]:
#result will be in the form of True/False
dengue>50

In [ ]:
#show the cities names
dengue[dengue>50]

You can also change the values in a Series on the fly.

In [ ]:
print (dengue['Banting'])

#change the number of dengue cases for Banting to 350

dengue['Banting']=350
print (dengue['Banting'])

### Dataframe

A DataFrame is a tablular data structure comprised of rows and columns which is similiar to a spreadsheet, database table, or R's data.frame object. For Pandas, a DataFrame is a group of Series objects that share an index (the column names).

### Reading Data

To create a DataFrame out of common Python data structures, we can pass a dictionary of lists to the DataFrame constructor.

Using the columns parameter allows us to tell the constructor how we'd like the columns ordered. By default, the DataFrame constructor will order the columns alphabetically (though this isn't the case when reading from a file)

In [ ]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Arsenal', 'Arsenal', 'Arsenal', 'Liverpool', 'Liverpool', 'Liverpool', 'Spurs', 'Spurs'],
        'wins': [13, 9, 7, 12, 14, 5, 7, 8],
        'losses': [2, 4, 2, 10, 15, 8, 11, 12]}
football=pd.DataFrame(data)
football

In [ ]:
#order the columns according to 'year', 'team', 'wins' and 'losses'
football=pd.DataFrame(data, columns=['year', 'team', 'wins','losses'])
football

### CSV

Reading a CSV is as simple as calling the `read_csv` function. By default, the read_csv function expects the column separator to be a comma, but you can change that using the `sep` parameter.

In [ ]:
#find out more about read_csv
pd.read_csv?

In [ ]:
#read from iris datasets
iris=pd.read_csv('data/iris.csv')
iris

In [ ]:
#show the first 5 rows of iris
iris.head()

In [ ]:
#show the last 5 rows of iris
iris.tail()

In [ ]:
#plot
plt.hist(iris.petal_width)

Read csv from the Internet URL

In [ ]:
#read Apple historical share prices from Google Finance
apple=pd.read_csv("http://www.google.com/finance/historical?q=NASDAQ%3AAAPL&ei=NHKyV6nsHcWsugSomoS4Ag&output=csv")
apple

In [ ]:
#summary of apple DataFrame
apple.info

In [ ]:
#describe method for seeing basic statistics about the dataset's numeric columns.
apple.describe()

In [ ]:
#show the dimension of apple
apple.shape

In [ ]:
#data type for apple
type(apple)

In [ ]:
#data type for column Volume
print(apple.Volume.dtype)
print(apple['High'].dtype)

### Selecting

You can think of a DataFrame as a group of Series that share an index (in this case the column headers). This makes it easy to select specific columns.

Selecting a single column from the DataFrame will return a Series object

In [ ]:
#select the top 5 rows for Low
apple.Low.head()

In [ ]:
#select the last 5 rows for Volume
apple['Volume'].tail()

In [ ]:
#sorting by Volume
apple.sort_values(['Volume'])

In [ ]:
# shares where Close > 90
apple[apple.Close > 90].head(3)

### Quiz 1:

- Display top 6 rows of all shares where `Close` prices > than `100` OR `Volume` < 1500000 for `apple`
- Display all shares where `High` prices is between `100` and `110` for `apple`
- Display the mean/min/max/median/sum `Close` price for `apple`
- Find shares where `Low` >100 and sort according to `Close` price and `Volume` (descending) for `apple`

In [ ]:
#answer 1

In [ ]:
#answer 2

In [ ]:
#answer 3

In [ ]:
#answer 4

### Missing Values

pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations.

In [ ]:
#create a simple dataframe
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])
df

In [ ]:
#add in a new column 'four'
df['four']='Bar'
#add in another new column 'five'
df['five']=df['one']>1
df

In [ ]:
#reindex dataframe df and assign to df2
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

#### Values considered “missing”

As data comes in many shapes and forms, pandas aims to be flexible with regard to handling missing data. While `NaN` is the default missing value marker for reasons of computational speed and convenience, we need to be able to easily detect this value with data of different types: `floating point`, `integer`, `boolean`, and `general object`. In many cases, however, the Python None will arise and we wish to also consider that “missing” or “null”.

In [ ]:
#check if null exist
pd.isnull(df2['one']) #df2.one.isnull()

In [ ]:
#To drop any rows that have missing data
df2.dropna(how='any')

In [ ]:
#replace missing value
df2.four.fillna(value='Foo')

In [ ]:
#replace all missing value
df2.fillna(value=0)

### Group by

By “group by”, it is referring to a process involving one or more of the following steps

- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure

The name GroupBy should be quite familiar to those who have used a SQL-based tool (or itertools), in which you can write code like:

```{sql}
SELECT Column1, Column2, mean(Column3), sum(Column4)
FROM SomeTable
GROUP BY Column1, Column2
```

In [ ]:
#find mean for all `sepal_length`, `sepal_width`, `petal_length` and `petal_width` by `species`
iris.groupby('species').mean()

In [ ]:
#find mean for all `sepal_length` by `species`
iris['sepal_length'].groupby(iris.species).mean()

### Quiz 2:

- Read the TradeOffData.csv dataset
- Provide summary of the dataset
- split the dataset according to 'Group' and 'Treatment'
- By using the 'aggregate' method, get the sum for each 'Group' and 'Treatment' for 'RelativeFitness'

In [ ]:
#answer 1

In [ ]:
#answer 2

In [ ]:
#answer 3

In [ ]:
#answer 4

**Author** : [Poo Kuan Hoong](http://www.linkedin.com/in/kuanhoong)

**Credits**: [Intro to Pandas Data Structures](http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/), [Brandon’s Pandas Tutorial](https://github.com/brandon-rhodes/pycon-pandas-tutorial), [ SciPy2016 tutorial: Analyzing and Manipulating Data with Pandas](https://github.com/jonathanrocher/pandas_tutorial), [Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/)